[submodule "backend"]
	path = backend
	url = https://gitlab.bankingapi.ru/team18/VTB_HACK-ITutopia-Backend.git
[submodule "frontend"]
	path = frontend
	url = https://gitlab.bankingapi.ru/team18/VTB_HACK-ITutopia-Frontend.git
